{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-3">No more spending long hours reading bulky study materials!</h1>
    <p class="lead">Save your time by leveraging the power of AI to generate short summaries of your handouts.</p>
    <a class="btn btn-lg btn-primary" href="{% url 'new-summary' %}" role="button">Get started today &raquo;</a>
  </div>
</div>
{% endblock content %}