{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="summary-container">
  <div class="row mt-0">
    <div class="col">
      <h4>Original Text</h4>
      <div style="height: 400px;" class="overflow-auto">
        <p>
          Summaryze is a web application that provides an automated text summarization service to users. The app uses the
        GPT-3 API to generate a summary of uploaded handouts in PDF, DOCX or TXT format. The app will be built using the
        Python Django framework and deployed to a cloud platform like Heroku.<br> <br>
        Summaryze is a web application that provides an automated text summarization service to users. The app uses the
        GPT-3 API to generate a summary of uploaded handouts in PDF, DOCX or TXT format. The app will be built using the
        Python Django framework and deployed to a cloud platform like Heroku. <br> <br>
        Summaryze is a web application that provides an automated text summarization service to users. The app uses the
        GPT-3 API to generate a summary of uploaded handouts in PDF, DOCX or TXT format. The app will be built using the
        Python Django framework and deployed to a cloud platform like Heroku.
        </p>
        
        <p>
          Summaryze is a web application that provides an automated text summarization service to users. The app uses the
        GPT-3 API to generate a summary of uploaded handouts in PDF, DOCX or TXT format. The app will be built using the
        Python Django framework and deployed to a cloud platform like Heroku.
        Summaryze is a web application that provides an automated text summarization service to users. The app uses the
        GPT-3 API to generate a summary of uploaded handouts in PDF, DOCX or TXT format. The app will be built using the
        Python Django framework and deployed to a cloud platform like Heroku.
        Summaryze is a web application that provides an automated text summarization service to users. The app uses the
        GPT-3 API to generate a summary of uploaded handouts in PDF, DOCX or TXT format. The app will be built using the
        Python Django framework and deployed to a cloud platform like Heroku.
        </p>
        </div>
    </div>
    <div class="col">
      <h4>Summaryzed Text</h4>
      <p>
        Summaryze is a web application that provides an automated text summarization service to users. The app uses the
      GPT-3 API to generate a summary of uploaded handouts in PDF, DOCX or TXT format. The app will be built using the
      Python Django framework and deployed to a cloud platform like Heroku. <br> <br>
      Summaryze is a web application that provides an automated text summarization service to users. The app uses the
      GPT-3 API to generate a summary of uploaded handouts in PDF, DOCX or TXT format. The app will be built using the
      Python Django framework and deployed to a cloud platform like Heroku.
      </p>
    </div>
  </div>
</div>

{% endblock content %}