{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<h2 class="text-center" style="margin-top: 15%;">Log in to your account</h2>

<div class="d-flex justify-content-center">
<form method="post" action="{% url 'users:login' %}" class="form">
	{% csrf_token %}
	{{ form|crispy }} <br>
	<button name="submit" type="submit" class="btn btn-primary">Log in</button>
	<input type="hidden" name="next" value="{% url 'home' %}">
</form>
</div>
<div class="d-flex justify-content-center">
<a href="{% url 'users:register' %}">Not registered? Click to register</a>
</div>
{% endblock content %}